body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.secondary_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphs {
    background-color: #E9EDC9;
    margin: 2rem 0;
    border-radius: 1rem;
    width: 80%;
}