.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A4BAB7;
    padding: 1rem 0;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.Menu {
    background-color: #A4BAB7;
    border: 0;
    cursor: pointer;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #A4BAB7;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:not(:first-child):hover {
    background-color: #416788;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

#currentMenu {
    list-style: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 20px 20px 20px 20px;
    background-color: #416788;
    font-size: 1.5rem;
}

#currentMenu a {
    text-decoration: none;
    color: white;
    cursor: initial;
}

.menuList ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.menuList li {
    padding: 20px;
    background-color: #416788;
}

ul li:first-child {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.menuList a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.menuList li:active,
.menuList li:hover {
    background-color: #1C0B19;
    transition: 0.3s;
}

@media only screen and (min-width: 769px) {
    .Menu {
        display: none;
    }
}

@media only screen and (max-width: 769px) {
    .menuList {
        display: none;
    }

    .nav {
        padding: 20px 0;
    }

    .Menu {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .searchBar {
        display: flex;
        align-items: center;
        margin-left: 0;
    }
}