.main_search_controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #EAE9F6;
    border-radius: 1rem;
    padding: 20px 20px 0;
    margin-bottom: 1rem;
}

.searchbars_wrapper {
    display: flex;
    margin-bottom: 2rem;
}

.left_searchbar {
    margin-right: 1rem;
}

.right_searchbar {
    margin-left: 1rem;
}

.place_search {
    border: 2px solid #CCC5B9;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 300px;
    border-radius: 0.5rem;
}

.current_search {
    border: 2px solid #CCC5B9;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 300px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.searchResults_wrapper {
    background-color: #A4BAB7;
    width: 300px;
    position: absolute;
    z-index: 1;
}

.searchResults_wrapper li {
    list-style: none;
    padding: 0.2rem 0 0.2rem 0.5rem;
    color: #313639;
    font-size: 1rem;
    cursor: pointer;
}

.searchResults_wrapper li:hover {
    background-color: #416788;
}

.search_btn {
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #416788;
    border: 0;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 640px) {
    .searchbars_wrapper {
        flex-direction: column;
    }

    .left_searchbar {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .right_searchbar {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 375px) {
    .main_search_controls {
        border: 0;
        padding: 0;
    }
}